<h2>Forecast</h2>
{{#each this}}
<div class="forecast-unit">
    <img src="{{icon_url}}"/>
    <p>{{date.weekday_short}}</p>
    <p>{{conditions}}.</p>
    <p>{{high.fahrenheit}}&deg; / {{low.fahrenheit}}&deg; F</p>
</div>
{{/each}}